<div class="main" #element
     (tap)="{e: $event, test: 'tap)'}" (pinch)="{e: $event, test: 'pinch'}">
    <div class="dotted">
        <span>Перемещение пальцем по полю - управление курсором</span>
        <span>Нажатие одним пальце - левая кнопка мышки</span>
        <span>Нажатие двумя пальцами - правая кнопка мышки</span>
        <span>Перемещение двумя пальцами - колесико мышки</span>
        <span>Долго нажатие - зажатие левой кнопки мышки</span>
        <span>Одно нажатие - отпустить левую кнопку мышки</span>
    </div>
</div>
